body {
    background-color: #fffcf5;
}


a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
}

#projects p {
    font-family: "Barlow", sans-serif;
    text-align: justify;
    padding: 3px;
}


